<a href="https://colab.research.google.com/github/FranciniSantana/Data-Analysis-With-Python-FreeCodeCamp/blob/main/Projeto_Demographic_data_analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Análise de Dados Demográficos

## Preparando o ambiente

In [1]:
# importando as bibliotecas de uso

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import drive

In [2]:
# montando o drive para acessar
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# importando a tabela em pandas e atribuindo a uma tabela chamada df

df = pd.read_csv('/content/drive/MyDrive/Bases/adult.data.csv')

In [4]:
# exibindo a tabela com as 5 primeiras linhas
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.groupby('salary').salary.count()

salary
<=50K    24720
>50K      7841
Name: salary, dtype: int64

## 1. Explorar

In [6]:
# informações sobre os dados apresentados na tabela
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [7]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [10]:
#selecione a age  onde o sexo é masculino e traga as informações da função describe
df['age'][df.sex == 'Male'].describe()

count    21790.000000
mean        39.433547
std         13.370630
min         17.000000
25%         29.000000
50%         38.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [11]:
df['age'][df.race == 'White'].describe()

count    27816.000000
mean        38.769881
std         13.782306
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [12]:
df['age'][df.race == 'Black'].describe()

count    3124.000000
mean       37.767926
std        12.759290
min        17.000000
25%        28.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64

## Questions

1. Quantas pessoas de cada raça estão representadas neste conjunto de dados? Esta deve ser uma série Pandas com nomes de raça como rótulos de índice. ( racecoluna)

In [13]:
raceSeries = df.groupby('race').age.count()
racedf = pd.DataFrame(raceSeries)
racedf

                      age
race
Amer-Indian-Eskimo    311
Asian-Pac-Islander   1039
Black                3124
Other                 271
White               27816

In [14]:
shareRace = racedf['age'] / df['race'].count()

In [15]:
racedf['Share'] = shareRace

In [16]:
racedf.sort_values(by=['Share'],ascending=False)

                      age     Share
race
White               27816  0.854274
Black                3124  0.095943
Asian-Pac-Islander   1039  0.031909
Amer-Indian-Eskimo    311  0.009551
Other                 271  0.008323

**1. Qual é a idade média dos homens?**

In [17]:
MeanAgeMale = round(df['age'][df.sex == 'Male'].mean(),0)
print(f'A idade média dos homens é de {MeanAgeMale}')

A idade média dos homens é de 39.0

In [18]:
df['age'][df.sex == 'Male'].mean()

39.43354749885268

**2. Qual é a porcentagem de pessoas que têm um diploma de bacharel?**

In [19]:
df.groupby('education').education.count()

education
10th              933
11th             1175
12th              433
1st-4th           168
5th-6th           333
7th-8th           646
9th               514
Assoc-acdm       1067
Assoc-voc        1382
Bachelors        5355
Doctorate         413
HS-grad         10501
Masters          1723
Preschool          51
Prof-school       576
Some-college     7291
Name: education, dtype: int64

In [20]:
totalEducation = df.education.count()
totalEducation

32561

In [21]:
df.groupby('education').education.count() / totalEducation

education
10th            0.028654
11th            0.036086
12th            0.013298
1st-4th         0.005160
5th-6th         0.010227
7th-8th         0.019840
9th             0.015786
Assoc-acdm      0.032769
Assoc-voc       0.042443
Bachelors       0.164461
Doctorate       0.012684
HS-grad         0.322502
Masters         0.052916
Preschool       0.001566
Prof-school     0.017690
Some-college    0.223918
Name: education, dtype: float64

In [22]:
df['education'][df.education == 'Bachelors'].count() / totalEducation # resposta certa

0.16446055096587942

**3. Que porcentagem de pessoas com educação avançada ( Bachelors, Mastersou Doctorate) ganham mais de 50 mil?**

In [61]:
df['education'].count()

32561

In [23]:
avancada = df['education'][df.education == 'Bachelors'].count() + df['education'][df.education == 'Masters'].count() + df['education'][df.education == 'Doctorale'].count()
avancada

7078

In [24]:
df['education'][(df['education'] == 'Bachelors') | (df['education'] == 'Masters')| (df['education'] == 'Doctorale')].count()

7078

In [29]:
df['Education_Type'] = np.where((df['education'] == 'Bachelors') | (df['education'] == 'Masters')| (df['education'] == 'Doctorale'),'Avançada','Básica') # criando categorias avançada e básica

In [64]:
absoluto = df.groupby(df['Education_Type']).education.count()
relativo = df.groupby(df['Education_Type']).education.count() / df['education'].count() * 100

In [65]:
print(absoluto)
print(relativo)

Education_Type
Avançada     7078
Básica      25483
Name: education, dtype: int64
Education_Type
Avançada    21.737662
Básica      78.262338
Name: education, dtype: float64

In [66]:
r =df.query('salary == ">50K" & Education_Type == "Avançada" ').groupby(df['Education_Type']).education.count()
a = r / df['education'].count().round(decimals=2) *100

print(a)

Education_Type
Avançada    9.766285
Name: education, dtype: float64

In [67]:
TabelaFreEducation = pd.DataFrame(
    { 'Count': r,
     'Porcent': a
     
    }
    
).reset_index()

In [68]:
TabelaFreEducation

  Education_Type  Count   Porcent
0       Avançada   3180  9.766285

**4.Que porcentagem de pessoas sem educação avançada ganha mais de 50 mil?**

In [71]:
aBasica =df.query('salary == ">50K" & Education_Type == "Básica" ').groupby(df['Education_Type']).education.count()
rBasica =  aBasica / df['education'].count().round(decimals=2) *100

print(aBasica)

Education_Type
Básica    4661
Name: education, dtype: int64

In [72]:
TabelaFreEducationBasica = pd.DataFrame(
    { 'Count': aBasica,
     'Porcent': rBasica
     
    }
    
).reset_index()
TabelaFreEducationBasica

  Education_Type  Count    Porcent
0         Básica   4661  14.314671

**5. Qual é o número mínimo de horas que uma pessoa trabalha por semana?**

**6. Que porcentagem das pessoas que trabalham o número mínimo de horas por semana tem um salário superior a 50 mil?**

**7. Qual país tem a maior porcentagem de pessoas que ganham mais de 50 mil e qual é essa porcentagem?**

**8. Identifique a ocupação mais popular para quem ganha mais de 50 mil na Índia.**