<a href="https://colab.research.google.com/github/FranciniSantana/Data-Analysis-With-Python-FreeCodeCamp/blob/main/Projeto_Demographic_data_analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Análise de Dados Demográficos

## Preparando o ambiente

In [1]:
# importando as bibliotecas de uso

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import drive

In [2]:
# montando o drive para acessar
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# importando a tabela em pandas e atribuindo a uma tabela chamada df

df = pd.read_csv('/content/drive/MyDrive/Bases/adult.data.csv')

In [4]:
# exibindo a tabela com as 5 primeiras linhas
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [5]:
df.groupby('salary').salary.count()

salary
<=50K    24720
>50K      7841
Name: salary, dtype: int64

## 1. Explorar

In [6]:
# informações sobre os dados apresentados na tabela
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [7]:
df.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [8]:
#selecione a age  onde o sexo é masculino e traga as informações da função describe
df['age'][df.sex == 'Male'].describe()

count    21790.000000
mean        39.433547
std         13.370630
min         17.000000
25%         29.000000
50%         38.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [9]:
df['age'][df.race == 'White'].describe()

count    27816.000000
mean        38.769881
std         13.782306
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

In [10]:
df['age'][df.race == 'Black'].describe()

count    3124.000000
mean       37.767926
std        12.759290
min        17.000000
25%        28.000000
50%        36.000000
75%        46.000000
max        90.000000
Name: age, dtype: float64

## Questions

1. Quantas pessoas de cada raça estão representadas neste conjunto de dados? Esta deve ser uma série Pandas com nomes de raça como rótulos de índice. ( racecoluna)

In [11]:
raceSeries = df.groupby('race').age.count()
racedf = pd.DataFrame(raceSeries)
racedf

                      age
race
Amer-Indian-Eskimo    311
Asian-Pac-Islander   1039
Black                3124
Other                 271
White               27816

In [12]:
shareRace = racedf['age'] / df['race'].count()

In [13]:
racedf['Share'] = shareRace

In [14]:
racedf.sort_values(by=['Share'],ascending=False)

                      age     Share
race
White               27816  0.854274
Black                3124  0.095943
Asian-Pac-Islander   1039  0.031909
Amer-Indian-Eskimo    311  0.009551
Other                 271  0.008323

**1. Qual é a idade média dos homens?**

In [15]:
MeanAgeMale = round(df['age'][df.sex == 'Male'].mean(),0)
print(f'A idade média dos homens é de {MeanAgeMale}')

A idade média dos homens é de 39.0

In [16]:
df['age'][df.sex == 'Male'].mean()

39.43354749885268

**2. Qual é a porcentagem de pessoas que têm um diploma de bacharel?**

In [17]:
df.groupby('education').education.count()

education
10th              933
11th             1175
12th              433
1st-4th           168
5th-6th           333
7th-8th           646
9th               514
Assoc-acdm       1067
Assoc-voc        1382
Bachelors        5355
Doctorate         413
HS-grad         10501
Masters          1723
Preschool          51
Prof-school       576
Some-college     7291
Name: education, dtype: int64

In [18]:
totalEducation = df.education.count()
totalEducation

32561

In [19]:
df.groupby('education').education.count() / totalEducation

education
10th            0.028654
11th            0.036086
12th            0.013298
1st-4th         0.005160
5th-6th         0.010227
7th-8th         0.019840
9th             0.015786
Assoc-acdm      0.032769
Assoc-voc       0.042443
Bachelors       0.164461
Doctorate       0.012684
HS-grad         0.322502
Masters         0.052916
Preschool       0.001566
Prof-school     0.017690
Some-college    0.223918
Name: education, dtype: float64

In [20]:
df['education'][df.education == 'Bachelors'].count() / totalEducation # resposta certa

0.16446055096587942

**3. Que porcentagem de pessoas com educação avançada ( Bachelors, Mastersou Doctorate) ganham mais de 50 mil?**

In [21]:
df['education'].count()

32561

In [22]:
avancada = df['education'][df.education == 'Bachelors'].count() + df['education'][df.education == 'Masters'].count() + df['education'][df.education == 'Doctorale'].count()
avancada

7078

In [23]:
df['education'][(df['education'] == 'Bachelors') | (df['education'] == 'Masters')| (df['education'] == 'Doctorale')].count()

7078

In [24]:
df['Education_Type'] = np.where((df['education'] == 'Bachelors') | (df['education'] == 'Masters')| (df['education'] == 'Doctorale'),'Avançada','Básica') # criando categorias avançada e básica

In [25]:
absoluto = df.groupby(df['Education_Type']).education.count()
relativo = df.groupby(df['Education_Type']).education.count() / df['education'].count() * 100

In [26]:
print(absoluto)
print(relativo)

Education_Type
Avançada     7078
Básica      25483
Name: education, dtype: int64
Education_Type
Avançada    21.737662
Básica      78.262338
Name: education, dtype: float64

In [27]:
r =df.query('salary == ">50K" & Education_Type == "Avançada" ').groupby(df['Education_Type']).education.count()
a = r / df['education'].count().round(decimals=2) *100

print(a)

Education_Type
Avançada    9.766285
Name: education, dtype: float64

In [28]:
TabelaFreEducation = pd.DataFrame(
    { 'Count': r,
     'Porcent': a
     
    }
    
).reset_index()

In [29]:
TabelaFreEducation

  Education_Type  Count   Porcent
0       Avançada   3180  9.766285

**4.Que porcentagem de pessoas sem educação avançada ganha mais de 50 mil?**

In [30]:
aBasica =df.query('salary == ">50K" & Education_Type == "Básica" ').groupby(df['Education_Type']).education.count()
rBasica =  aBasica / df['education'].count().round(decimals=2) *100

print(aBasica)

Education_Type
Básica    4661
Name: education, dtype: int64

In [31]:
TabelaFreEducationBasica = pd.DataFrame(
    { 'Count': aBasica,
     'Porcent': rBasica
     
    }
    
).reset_index()
TabelaFreEducationBasica

  Education_Type  Count    Porcent
0         Básica   4661  14.314671

**5. Qual é o número mínimo de horas que uma pessoa trabalha por semana?**

In [33]:
df['hours-per-week'].min()

1

**6. Que porcentagem das pessoas que trabalham o número mínimo de horas por semana tem um salário superior a 50 mil?**

In [43]:
people_min_hours_total = df['hours-per-week'][df['hours-per-week'] == 1].count() #total de pessoas que trabalham horas mínimas
people_min_hours_total

20

In [42]:
people_min_hours_50k = df['hours-per-week'][(df['hours-per-week'] == 1) & (df['salary'] == '>50K')].count()
people_min_hours_50k # total de pessoas que trabalham o número mínimo de horas com salário superior a 50%

2

In [44]:
people_min_hours_50k / people_min_hours_total *100 #porcentagem

10.0

**7. Qual país tem a maior porcentagem de pessoas que ganham mais de 50 mil e qual é essa porcentagem?**

A primeira solução foi encontrar o % consideranto todos os países.

In [66]:
mais_50k = df['native-country'][df['salary'] == ">50K"].count() #quantas pessoas no total ganham > 50k
mais_50k

7841

In [67]:
country_mais_50K = df.query('salary == ">50K"').groupby(['native-country'],sort=False).salary.count() #Quantas pessoas por país ganha mais de 50k
country_mais_50K

native-country
United-States         7171
India                   40
?                      146
South                   16
Honduras                 1
Canada                  39
Iran                    18
Mexico                  33
Cambodia                 7
Thailand                 3
Taiwan                  20
Portugal                 4
England                 30
China                   20
Philippines             61
Jamaica                 10
Germany                 44
Japan                   24
Italy                   25
Dominican-Republic       2
Cuba                    25
Greece                   8
Peru                     2
Guatemala                3
El-Salvador              9
France                  12
Vietnam                  5
Poland                  12
Puerto-Rico             12
Ireland                  5
Yugoslavia               6
Columbia                 2
Haiti                    4
Hong                     6
Ecuador                  4
Nicaragua                2
Trinadad&Tobago          2
Hungary                  3
Scotland                 3
Laos                     2
Name: salary, dtype: int64

In [69]:
country_mais_50K / mais_50k.round(decimals=2) * 100

native-country
United-States         91.455172
India                  0.510139
?                      1.862007
South                  0.204056
Honduras               0.012753
Canada                 0.497386
Iran                   0.229563
Mexico                 0.420865
Cambodia               0.089274
Thailand               0.038260
Taiwan                 0.255070
Portugal               0.051014
England                0.382604
China                  0.255070
Philippines            0.777962
Jamaica                0.127535
Germany                0.561153
Japan                  0.306083
Italy                  0.318837
Dominican-Republic     0.025507
Cuba                   0.318837
Greece                 0.102028
Peru                   0.025507
Guatemala              0.038260
El-Salvador            0.114781
France                 0.153042
Vietnam                0.063767
Poland                 0.153042
Puerto-Rico            0.153042
Ireland                0.063767
Yugoslavia             0.076521
Columbia               0.025507
Haiti                  0.051014
Hong                   0.076521
Ecuador                0.051014
Nicaragua              0.025507
Trinadad&Tobago        0.025507
Hungary                0.038260
Scotland               0.038260
Laos                   0.025507
Name: salary, dtype: float64

A segunda solução foi entender o % em relação a proporçao de cada país.

In [116]:
df_country_grouped = df.groupby(['native-country','salary']).salary.count() # Realizei uma contagem agrupando por país e salário
df_country_grouped

native-country  salary
?               <=50K      437
                >50K       146
Cambodia        <=50K       12
                >50K         7
Canada          <=50K       82
                          ...
United-States   >50K      7171
Vietnam         <=50K       62
                >50K         5
Yugoslavia      <=50K       10
                >50K         6
Name: salary, Length: 82, dtype: int64

In [94]:
df_country_grouped_total = df.groupby(['native-country'],sort=False).salary.count() #realizei uma contagem do total de pessoas por país.
df_country_grouped_total

native-country
United-States                 29170
Cuba                             95
Jamaica                          81
India                           100
?                               583
Mexico                          643
South                            80
Puerto-Rico                     114
Honduras                         13
England                          90
Canada                          121
Germany                         137
Iran                             43
Philippines                     198
Italy                            73
Poland                           60
Columbia                         59
Cambodia                         19
Thailand                         18
Ecuador                          28
Laos                             18
Taiwan                           51
Haiti                            44
Portugal                         37
Dominican-Republic               70
El-Salvador                     106
France                           29
Guatemala                        64
China                            75
Japan                            62
Yugoslavia                       16
Peru                             31
Outlying-US(Guam-USVI-etc)       14
Scotland                         12
Trinadad&Tobago                  19
Greece                           29
Nicaragua                        34
Vietnam                          67
Hong                             20
Ireland                          24
Hungary                          13
Holand-Netherlands                1
Name: salary, dtype: int64

In [165]:
tabela = pd.DataFrame(df_country_grouped / df_country_grouped_total * 100).rename(columns={'salary':'Porcent'}).reset_index() #fiz uma tabela que demonstra o % por país de cada faixa de salário
tabela

   native-country salary    Porcent
0               ?  <=50K  74.957118
1               ?   >50K  25.042882
2        Cambodia  <=50K  63.157895
3        Cambodia   >50K  36.842105
4          Canada  <=50K  67.768595
..            ...    ...        ...
77  United-States   >50K  24.583476
78        Vietnam  <=50K  92.537313
79        Vietnam   >50K   7.462687
80     Yugoslavia  <=50K  62.500000
81     Yugoslavia   >50K  37.500000

[82 rows x 3 columns]

In [166]:
tabela [tabela['salary']== ">50K"].sort_values(by=['Porcent'],ascending=False) # selecionei os países fazendo filtro para salários >50K e ordenei por valores porcentuais decrescentes

        native-country salary    Porcent
40                Iran   >50K  41.860465
21              France   >50K  41.379310
38               India   >50K  40.000000
71              Taiwan   >50K  39.215686
48               Japan   >50K  38.709677
81          Yugoslavia   >50K  37.500000
3             Cambodia   >50K  36.842105
44               Italy   >50K  34.246575
19             England   >50K  33.333333
5               Canada   >50K  32.231405
23             Germany   >50K  32.116788
59         Philippines   >50K  30.808081
34                Hong   >50K  30.000000
25              Greece   >50K  27.586207
7                China   >50K  26.666667
11                Cuba   >50K  26.315789
1                    ?   >50K  25.042882
67            Scotland   >50K  25.000000
77       United-States   >50K  24.583476
36             Hungary   >50K  23.076923
42             Ireland   >50K  20.833333
69               South   >50K  20.000000
61              Poland   >50K  20.000000
73            Thailand   >50K  16.666667
15             Ecuador   >50K  14.285714
46             Jamaica   >50K  12.345679
50                Laos   >50K  11.111111
63            Portugal   >50K  10.810811
65         Puerto-Rico   >50K  10.526316
75     Trinadad&Tobago   >50K  10.526316
29               Haiti   >50K   9.090909
17         El-Salvador   >50K   8.490566
32            Honduras   >50K   7.692308
79             Vietnam   >50K   7.462687
57                Peru   >50K   6.451613
54           Nicaragua   >50K   5.882353
52              Mexico   >50K   5.132193
27           Guatemala   >50K   4.687500
9             Columbia   >50K   3.389831
13  Dominican-Republic   >50K   2.857143

In [129]:
tabela.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 82 entries, ('?', '<=50K') to ('Yugoslavia', '>50K')
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   salary  82 non-null     float64
dtypes: float64(1)
memory usage: 1.3+ KB

**8. Identifique a ocupação mais popular para quem ganha mais de 50 mil na Índia.**

In [200]:
tabela_profissao = df.groupby(['occupation']).occupation.count().reset_index(name='Count') [(df['native-country'] == "India") & (df['salary'] == ">50K") ]#criando uma tabela para contar quantas pessoas em cada profissão usando o filtro de salário e país
tabela_profissao.sort_values(by=['Count'],ascending = False).head(1) # ordenando para ver quais as ocupações com maior quantidade

<ipython-input-200-edd7170aac4d>:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  tabela_profissao = df.groupby(['occupation']).occupation.count().reset_index(name='Count') [(df['native-country'] == "India") & (df['salary'] == ">50K") ]#criando uma tabela para contar quantas pessoas em cada profissão usando o filtro de salário e país

         occupation  Count
11  Protective-serv    649